* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --color_green: #3db46d;
  --color-lightgray: #bdbdbd;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
