.grid-masonry {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  gap: 30px;
  justify-content: center;
  /* background-color: aqua; */
  padding-top: 50px;
}

.grid-masonry__img-item {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  background-color: lightgray;
}
