.grid-masonry {
  /* width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  gap: 30px;
  justify-content: center;
  background-color: aqua;
  padding-top: 50px; */
  width: 70%;
  columns: 3 300px;
  gap: 15px;
  padding-top: 50px;
}

.grid-masonry__img-item {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;
  background-color: var(--color-lightgray);
}
