.header {
   width: 70%;
   /* background-color: bisque; */
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 768px) {
      flex-direction: column;
      height: fit-content;
      position: relative;
      row-gap: 30px;
      padding-top: 30px;
   }
}

.header__logo-container {
   display: flex;
   align-items: center;

   @media (max-width: 768px) {
      align-self: self-start;
   }
}

.header__upload-btn {
   background-color: var(--color-green);
   border-radius: 12px;
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
   width: 137px;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all ease 0.4s;

   @media (max-width: 768px) {
      position: absolute;
      right: 0;
      top: 15px;
      height: 50px;
   }
}

.header-auth-options {
   position: absolute;
   right: 0px;
   top: 32px;
}

.header-auth-options a {
   text-decoration: none;
   color: var(--color-green);
   font-weight: 600;
}

.header__upload-btn:hover {
   background-color: white;
   border: 1.5px solid var(--color-green);
}

.header__upload-btn:hover p {
   color: var(--color-green);
}

.header__upload-btn p {
   color: white;
   font-size: 16px;
   font-weight: 700;
}

.header__searchbar {
   background-color: white;
   width: 300px;
   border: 1px solid var(--color-lightgray);
   filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
   border-radius: 12px;
   display: flex;

   @media (max-width: 768px) {
      width: 100%;
   }
}

.header__searchbar__icon {
   width: 15%;
   border-top-left-radius: inherit;
   border-bottom-left-radius: inherit;
   background-image: url(../assets/search.png);
   background-size: 17.05px 17.05px;
   background-repeat: no-repeat;
   background-position: center;
}

.header__searchbar input {
   width: 85%;
   height: 55px;
   font-weight: 500;
   font-size: 14px;
   color: var(--color-lightgray);
   border: 0px;
   border-top-right-radius: inherit;
   border-bottom-right-radius: inherit;
   padding-right: 10px;
   outline: none;
}
