.login-container {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 100%;
  height: 100vh;
}

.login-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 400px;
  height: 450px;
  /* background-color: aqua; */
  /* border: 1px solid var(--color-lightgray);
  border-radius: 12px; */
}

.login-card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card__header img {
  width: 32px;
  height: 32px;
}

.login-card__header h1 {
  font-weight: 800;
  margin-top: 15px;
  text-align: center;
}

.login-card__form {
  width: 90%;
  align-self: flex-end;
  margin: 0px 0px 30px 0px;
}

#username,
#userpass {
  width: 100%;
  height: 30px;
  outline: none;
  border: 0px;
  border: 1px solid var(--color-lightgray);
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 3px;
  margin-bottom: 25px;
}

#login-btn {
  width: 100%;
  border: 0px;
  margin-top: 15px;
  height: 37px;
  border-radius: 3px;
  background-color: var(--color-green);
  color: white;
  font-size: 14px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #69b989;
  color: white;
}
